<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div align="center">
    <h3>REGISTRATION FORM</h3>   
  </div>
  <div align="center" class="registration_form">
  <div>
      <label for="firstname">First Name</label>
      <input formControlName="first_name" type="text" name="fname" id="fname">
  </div>
  <div class="error-messages">
    <ng-container *ngFor="let error of error_messages.first_name">
      <div class="error-message" *ngIf="registerForm.get('first_name').hasError(error.type) && (registerForm.get('first_name').dirty || registerForm.get('first_name').touched)">
        {{ error.message }}
      </div>
    </ng-container>
  </div>
  <div>
    <label for="lastname">Last Name</label>
    <input formControlName="last_name" type="text" name="last_name" id="lname">
  </div>
 <div class="error-messages">
  <ng-container *ngFor="let error of error_messages.last_name">
    <div class="error-message" *ngIf="registerForm.get('last_name').hasError(error.type) && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)">
      {{ error.message }}
    </div>
  </ng-container>
 </div>
  <div>
    <label for="email">Email</label>
    <input formControlName="email" type="text" name="email" id="email">
  </div>
  <div calss="error-messages">
    <ng-container *ngFor="let error of error_messages.email">
      <div class="error-message" *ngIf="registerForm.get('email').hasError(error.type) && 
(registerForm.get('email').dirty || registerForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container>
  </div>
  <div>
    <label for="contact">Contact</label>
    <input formControlName="contact_number" type="text" name="contact_number" id="contact">
    <div calss="error-messages">
      <ng-container *ngFor="let error of error_messages.contact_number">
        <div class="error-message" *ngIf="registerForm.get('contact_number').hasError(error.type) && 
  (registerForm.get('contact_number').dirty || registerForm.get('contact_number').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input formControlName="password" type="password" name="pass" id="pass">
  </div>
  <div class="error-messages">
    <ng-container *ngFor="let error of error_messages.password">
      <div class="error-message" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
        {{ error.message }}
      </div>
    </ng-container>
  </div>  
  <div>
    <button  type="submit" class="btn btn-primary" value="submit" [disabled]="!registerForm.valid">Register</button>
  </div>
  </div>
</form>
